<div class="page-header header-custom">
    <span>Todo list</span>
</div>
<div class="col-md-3 left-nav-bar">
    <div class="list-group">
        <div *ngFor="let taskList of taskLists" class="list-group-item left-nav-bar-item {{taskList.className}}"
             (click)="changeTab(taskList)">
            <span class="badge progress-bar-danger">{{taskList.countTasks}}</span>
            {{taskList.name}}
        </div>
        <div class="list-group-item ">
            <div class="input-group"><input (keydown.enter)="createNewTaskList()" type="text"
                                            placeholder="New task list"
                                            [(ngModel)]="newTaskListText" class="form-control input-group">
                <span class="input-group-btn">
                <input type="button" value="Add" (click)="createNewTaskList()" class="btn btn-default btn-custom ">
                </span>
            </div>
        </div>

    </div>
</div>

<div class="col-md-9"><input type="hidden" [(ngModel)]="tasks">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading panel-heading-custom">
            <h1 *ngIf="taskListEditStateOff">
                {{title}}
                <small *ngIf="tasks">
                    <a href="#" (click)="taskListEdit()" style="color: white; font-size: 15px">Edit</a>
                </small>
            </h1>

            <div class="input-group col-xs-5" *ngIf="!taskListEditStateOff">
                <input (keydown.enter)="renameTaskList()" type="text"
                       class="form-control"
                       [(ngModel)]="newTaskListName">
                <span class="input-group-btn">
                                <input type="button" class="btn btn-default btn-custom" value="Save"
                                       (click)="renameTaskList()">
                            </span>
            </div>


        </div>
        <div class="panel-body">
            <div class="input-group create-task-form col-xs-9" *ngIf="tasks">

                <input (keydown.enter)="createNewTask()" type="text" class="form-control"
                       placeholder="Here you can create a new task"
                       [(ngModel)]="newTaskText">

                <span class="input-group-btn" *ngIf="tasks">
                <input type="button" class="btn btn-default btn-custom" value="Create task" (click)="createNewTask()">
            </span>
            </div>
        </div>
        <table class="table">
            <tr *ngFor="let task of tasks">
                <td class="custom-checkbox">
                    <input *ngIf="!task.is_checked" type="checkbox" (change)="changeTaskCheckStatus(task)">
                    <input *ngIf="task.is_checked" type="checkbox" (change)="changeTaskCheckStatus(task)" checked>
                </td>
                <td class="col-xs-8">
                    <h4 *ngIf="!task.is_checked">{{task.task_text}}</h4>
                    <h4 *ngIf="task.is_checked" style="text-decoration: line-through">{{task.task_text}}</h4>
                </td>
                <td>
                    <button (click)="removeTask(task)" class="btn btn-default" data-toggle="tooltip"
                            title="Delete task">
                        <span class="glyphicon glyphicon-trash trash"></span>
                    </button>
                </td>

            </tr>
        </table>
    </div>
    <div></div>
</div>


