@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

html body {
    font-family: "Roboto", "sans-serif";
}
.header-custom {
    background-color: rgb(41, 58, 72);
    color: white;
    margin-top: 0px;
    font-size: 32px;
    border-radius: 2px;
    padding: 10px;

}

.panel-default {
    border: none;
}

.panel-default > .panel-heading {
    background-color: #f44336;
    color: white;
}

.panel-body{
    padding: 15px 0px;
}

.list-group-item {
    background-color: rgb(41, 58, 72);
    color: white;
    font-family: "Roboto", "sans-serif";
    margin-top: 0px;
}

.create-task-form {
    padding-left: 0px;
}

.custom-checkbox {
    width: 20px;
   vertical-align: middle!important;
}

.left-nav-bar-item:hover{
    cursor: pointer;
    background-color: rgba(41, 58, 72, 0.73);
}

.current-nav-bar-item{
    background-color: rgba(41, 58, 72, 0.73);
}

.edit-task-list-name:hover{
    cursor: pointer;
}